@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
*{
    margin : 0;
    padding: 0;
    text-decoration: none;
}
/* navbar */
.back{
    padding: 2px 2px;

}

.heading{
    font-size: 1.5rem;
    font-family:'Lobster', cursive ;
    
}
.back:hover {
    border: 2px solid yellow;
    border-radius: 10px;
    padding: 0px 0px;
    margin: 0px 2px;
}
.list:hover{
    background-color: black;
    border: 2px solid yellow;
    border-radius: 10px;
    color: white;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
  }
#home{
    display: flex;
    flex-direction: column;
    padding: 0px 15vw;
    width: auto;
    height: 400px;
    justify-content: center;
    align-items: center;
    color: black;
    background: url('./bg_img.jfif') no-repeat center center/cover ;
  
}

#home h1{
    color: black;
    text-align: left;
    padding: 12px;
    font-family: 'Bree Serif',sarif;
}
    

#home p{
    
    font-size: 1.8rem;
    font-family: 'Bree Serif',sarif;
}

/* midddle section */

.but{
    color: white;
    border: 0.5px solid yellow;
}
.but:hover{
    background-color: black;
    border: 2px solid yellow;
    border-radius: 5px;
}
.cd{
    display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.card{
    margin: 4% 2%;
    box-shadow: 10px 10px 8px 10px #888888;
}
@media (max-width:600px) {
    #home p{
        font-size: 1rem;
    }
    .cd{
        justify-content: center;
    }
}